@charset "utf-8";

.box1 {
    width: 500px;
    height: 500px;
}

.box1 a {
    display: block;
    height: 100%;
    border: 1px solid black;
    text-decoration: none;
    background: url("../images/30.png");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: blur(5px);
    /* filter: grayscale(); 회색조로 1에 가까울수록 어두움 
    filter: drop-shadow(30px 5px 4px red);
    filter: sepia(); 따로 값 지정할 필요 없음
    filter : contrast(300%) ; 채도값 */
    /* filter: saturate(30%); */
    /* filter: opacity();
     */
    transition: all 1s;
     /* background-position: center center; */
}
.box1 a:hover{
    background-size: 150%;
    filter: blur(0);
}

.box2{
    width: 200px;
    height: 200px;
    margin: 100px;
    overflow: hidden;
}
.box2 a{
    display: block;
    height: 100%;
}
.box2 a img{
    width: 200px;
    height: 100%;
    opacity: 0.5;
    transition: all 1s;
}
.box2 a:hover img{
 transform: scale(1.5);
 /* 넓이 높이를 지정해줘서 크기를 변화시켜도 되지만
 이렇게하면 포인트가 왼쪽위 모서리를 기준으로 커지는데
 중앙을 중심으로 커지게하려면 트랜스폼 스케일밖에 없음*/
 opacity: 1;
}
.box3{
    width: 200px;
    height: 100px;
    background: tomato;
    margin: 300px;
    transform-origin: left top;
    /* transform-origin: left top; 
    트랜스폼의 기준점인 중앙을 원하는 기준점으로 바꿔줌*/
/* transition: all 1s; */
/* transition-property: transform, width, opacity; 
트랜지션의 대상 / 동일 대상이면 all */
/* transition-duration: 1s, o.5s, 2s; 
프로퍼티에서 지정한 트렌지션 대상의 각각 지속시간 / 
여러 대상이여도 동일 재생시간이면 1번만 써도 됨 */
/* transition-delay: 1s, 4s, 3s ; 지체 시간
듀레이션과 마찬가지로 동일 지제 시간이면 1번만 써도 됨 */
/* transition-timing-function: ;
실행속도  
ease 중간이 빨라짐
ease-in 끝나는 지점이 빨라짐
ease-out 시작 지점이 빨라짐
ease-in-out  */
transition: all 1s 2s ease-in;
            /* 듀레이션 딜레이시간 타이밍펑션 */
}
.box3:hover{
    transform: rotate(30deg);
    background: aqua;
}